<!DOCTYPE html>
<html lang="en">
    <title>About</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/About.css">
    <link rel="stylesheet"href="Font-Awesome/all.min.css"/>
</head>
<body>
    <a href="/home"><button class="but">Back</button></a>
    <section id="about-section">
        <div class="about-left">
            <img src="static/bank.jpg"width="450px"/>
       </div>
           <div class="about-right">

            <h1>About Us</h1>
            <p>This project is utilised to automate the loan eligibility prediction for the client since asset costs are growing on a daily basis and the capital required to acquire an entire asset is quite expensive. As a result, acquiring it with your funds is not an option. Applying for a loan is the simplest approach to obtain the necessary finances. However, obtaining a loan is a lengthy procedure. The application must pass through many phases before it may be accepted. This project was intended to reduce the approval time and the risk connected with the loan.</p>
          <div class="address">
            <ul>
                       
                                        <br><li>
                                            Phone No  -  9876566321
                                        
                                            
                                        </li>
                                        <br><li>
                                            Email ID  -  Bank@gmail.com
                                            

                                        </li>
                                        <br><li>
                                            Place  -  Chennai
                                        </li>
                                        <br><li>
                                            Working days  -  Mon-Fri
                                            
                                        </li>
                                    </ul>
                                </div>
                                
                                    <h3>Our speciality</h3>
                                    <ul>
                                   <br><li>1. Loans that are quick and easy to obtain online without having to go through a laborious screening procedure.</li>

                                   <br> <li>2. 24/7 Availiability</li>

                                   <br><li>3. Accurate prediction for loan eligibility</li>

                                   <br><li>4. Providing detailed procedure for loan approval</li>

                                   <br><li>5. Providing easy way to check the loan eligibility</li>
                                   </ul>
                                 </div>
                        </section>
                </li>
            </ul>
        </div>   
</body>
</html>